*{
    background-color: black;
    
}
.title{
    color: rgb(255, 255, 255);
}
.sub_name{
    color: white;
}
.whole{
    padding: 20px;
}
.entire{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}